[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dccmidas"]
	path = dccmidas
	url = https://github.com/cran/dccmidas
[submodule "rumidas"]
	path = rumidas
	url = https://github.com/cran/rumidas
[submodule "welo"]
	path = welo
	url = https://github.com/cran/welo
